<body>
    <section class="Notes">
        <h3>Notes</h3>
        <form id="notes-form" action="submit">
            <div>
                <label for="notes-body">Note Text</label>
                <textarea id="notes-body" cols="50" rows="10"></textarea>
            </div>
            <div>
                <label for="notes-title">Note Title</label>
                <input id="notes-title" placeholder="Title" />
                <label for="due-input">Date Noted</label>
                <input id="note-due-input" type="datetime-local" value="" />
                <button type="submit" id="notes-but"> Save Note</button>
            </div>
        </form>

        <div id="note-log">
            <ul id="note-list">
            </ul>
        </div>
    </section>
    <section class="todo">
        <form action="submit" id="todos-form">
        <h3>To-Do </h3>
        class="todotitle">
            //css position above body
            <ul>
                css change width
                <h5>To Do</h5><input id="todo-title" placeholder="To Do" />
                <h5>Due Date</h5><input
                    id="todo-due-input"
                    type="datetime-local"
                    value=""
                />
            </ul>
            <button id="todo-but"> Save To-Do </button>
        </form>
            <div id="todo-log">
                <ul id="todo-list">
                </ul>
            </div>
        </div>
    </section>
    <div class="ran-act">
        <H4>Huh I really have nothing to do?!</H4>
        //is textarea better for API
        <div id="random-idea"></div>
        <button onclick="getactivity()"> Something to do </button>
    </div>

    <script src="/js/index.js"></script>
</body>