<body class="content-body">
    <section class="notes">
        <h1>Notes</h1>
        <form id="notes-form" action="submit">
            <div class="note-body-container">
                <label for="notes-body">Note Text</label>
                <textarea id="notes-body" cols="50" rows="10"></textarea>
            </div>
            <div class="note-inputs-container">
                <label for="notes-title">Note Title</label>
                <input id="notes-title" placeholder="Title" />
                <label for="note-due-input">Date Noted</label>
                <input id="note-due-input" type="datetime-local" value="" />
                <button type="submit" id="notes-but"> Save Note</button>
            </div>
        </form>
        <div class="note-list-container">
            <ul id="note-list">
                {{#each notes as |note|}}
                    <div>
                        {{note.text}}
                    </div>
                {{/each}}
            </ul>
        </div>
    </section>
    <section class="todo">
        <h1>To-Do </h1>
        <div>
            <form action="submit" id="todos-form">
                <div class="todo-inputs-container">
                    <label for="todo-title">Title</label>
                    <input type="text" />
                    <label for="todo-due-input">Due By</label>
                    <input type="datetime-local" />
                    <button id="todo-but">Save To-Do</button>
                </div>
            </form>
            <div class="todo-list-container">
                <ul id="todo-list">
                    {{#each todos as |todo|}}
                        <div>
                            {{todo.title}}
                        </div>
                    {{/each}}
                </ul>
            </div>
        </div>
    </section>
    <div class="ran-act">
        <H4>Huh I really have nothing to do?!</H4>
        <input />
        <!-- is textarea better for API -->
        <button id="nothing"> Something </button>
    </div>
    <script src="js/index.js"></script>
</body>