<body>
    <section class="Notes">
        <h3>Notes</h3>
        <form id="notes-form" action="submit">
            <div>
                <label for="notes-body">Note Text</label>
                <textarea id="notes-body" cols="50" rows="10"></textarea>
            </div>
            <div>
                <label for="notes-title">Note Title</label>
                <input id="notes-title" placeholder="Title" />
                <label for="due-input">Date Noted</label>
                <input id="note-due-input" type="datetime-local" value="" />
                <button type="submit" id="notes-but"> Save Note</button>
            </div>
        </form>

        <div id="note-log">
            <ul id="note-list">
                {{#each notes as |note|}}
                    <div>
                        {{note.title}}
                    </div>
                {{/each}}
            </ul>
        </div>
    </section>
    <section class="todo">
        <form action="submit" id="todos-form">
            <h3>To-Do </h3>
            <div class="todotitle">
                <!-- css position above body -->
                <ul>
                    css change width
                    <h5>To Do</h5><input id="todo-title" placeholder="To Do" />
                    <h5>Due Date</h5><input
                        id="todo-due-input"
                        type="datetime-local"
                        value=""
                    />
                </ul>
            </div>
            <button id="todo-but"> Save To-Do </button>
        </form>
        <div id="todo-log">
            <ul id="todo-list">
                {{#each todos as |todo|}}
                    <div>
                        {{todo.title}}
                    </div>
                {{/each}}
            </ul>
        </div>
    </section>
    <div class="ran-act">
        <H4>Huh I really have nothing to do?!</H4>
        <input />
        <!-- is textarea better for API -->
        <button id="nothing"> Something </button>
    </div>
    <script src="js/index.js"></script>
</body>