<body>
    <section class="Notes borders">
        <label for="notesbod">Notes</label>
        <form action="submit">
            <div>

            <textarea id="notesbod" cols="150" rows="12"></textarea>
            </div>
            <div>

                <label for="notes-title">Note Title</label>
                <input id="notes-title" placeholder="Title" />
                <button type="submit" id="notebut"> Save Note</button>
            </div>
        </form>

        <div id="notelog">
            <ul id="notelist">
            </ul>
        </div>
    </section>
    <section class="todo">
        <form action="submit">
       <label for="todo">To Do's</label>
      <section class="to-do-box">
        <div class="today"/>
        <div class="tomorrow"/>
        <div class="soon"/>
      </section>
       <class="todotitle">
            <ul>
                <input id="todo-title" placeholder="To Do" />
                <h5>Due Date</h5><input
                    id="due"
                    type="datetime-local"
                    value=""
                />
            </ul>
            <button id="todobut"> Save To-Do </button>
        </form>
            <div id="todolog">
                <ul id="todolist">
                </ul>
            </div>
        </div>
    </section>
    <div class="ranact borders">
        <H4>Huh I really have nothing to do?!</H4>
        <input />
        //is textarea better for API
        <button onclick="getactivity()"> Something to do </button>
    </div>
</body>